{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>

        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>


        {% block extra_head %}{% endblock extra_head %}

    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    <div id="content">

        {% block auth %}
            <div class = "auth">
                {% if not user.is_authenticated %}
                    <a href="/login">login</a>

                {% else %}
                    <a href="/logout">{{ user.get_username }} | logout</a>
                {% endif %}
            </div>
        {% endblock auth %}

        {% block content %}
            <h1>42 Coffee Cups Test Assignment</h1>


            {% if not object %}
                <div class="not_found">
                    <h3>The information you are looking for could not be found. Please try again later</h3>
                </div>
            {% endif %}

            {% if object %}
                <div class="table bigtable">
                <div class = "row">{% block left %}{% endblock left %}</div>
                <div class = "row">{% block right %}{% endblock right %}</div>
                </div>
            {% endif %}
        {% endblock content %}
    </div>

{% block extra_content %}

<div id="separateline"></div>
    <div class="requests">
        <a href="/requests">Last 10 requests</a>
    </div>
{% endblock extra_content %}


    </body>
</html>