{% extends "base.html" %}
{% load staticfiles %}
{% block body_id %}mainpage_id{% endblock %}
{% block body_class %}mainpage_class{% endblock %}


{% block left %}

{% endblock %}


{% block right %}
{% endblock %}

{% block extra_content %}
<div class="requests">
    <h3>Last 10 requests:</h3>
    <p>[12/Apr/2016 14:15:38] 	GET / 	200</p>
    <p>[12/Apr/2016 14:15:39] 	GET /static/css/screen.css 	 304</p>
    <p>[12/Apr/2016 14:15:39] 	GET /static/js/script.js  	304</p>
    <p>[12/Apr/2016 14:15:39] 	GET /blablapage  	400</p>
    <p>[12/Apr/2016 14:15:40] 	GET /  	200</p>
    <p>[12/Apr/2016 14:15:40] 	GET /olololapage 	 400</p>
    <p>[12/Apr/2016 14:25:29] 	GET /admin/  	200</p>
    <p>[12/Apr/2016 14:25:32] 	GET /admin/hello/person/	200</p>
    <p>[12/Apr/2016 14:25:32] 	GET /admin/jsi18n/  200</p>
    <p>[12/Apr/2016 14:31:56] 	POST /admin/hello/person/2/	302</p>
</div>
{% endblock extra_content %}