{% extends "base.html" %}

{% block body_id %}mainpage_id{% endblock %}
{% block body_class %}mainpage_class{% endblock %}


{% block left %}
<div class="cell persone persone_main">
	<p>{{object.first_name|title}}</p>
	<p>{{object.last_name|title}}</p>
	<p>{{object.birth_date|date:"Y-m-d"}}</p>
</div>
<div class="cell contacts">
	<h3>Contacts</h3>
	<p><b>Jabber:</b>{{object.con_jabbber}}</p>
	<p><b>Email:</b>{{object.con_email}}</p>
	<p><b>Skype:</b>{{object.con_skype}}</p>
</div>
{% endblock %}


{% block right %}
<div class="cell">
	{% if object.con_other %}
	<h4>Photo:</h4>
	<img src="{{ STATIC_URL }}uploads/{{object.photo}}">
	{% endif %}
</div>
<div class="cell">
	<div class="bio">
		<h3>Bio</h3>
		<div class="multiline">{{object.bio}}</div>
	</div>
	{% if object.con_other %}
	<div class="ad_contacts">
		<h3>Other contacts</h3>
		<div class="multiline">{{object.con_other}}</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block extra_content %}
	<div class="edit" id="edit_button">
		<button type="submit" onclick="location.href='/edit'">Edit Person</button>
	</div>

<div id="separateline"></div>
    <div class="requests">
        <a href="/requests">Last 10 requests</a>
    </div>

{% endblock extra_content %}

